<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- 로그 파일 경로 변수 -->
  <property name="LOG_PATH" value="logs"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}]){faint} %clr(%5p): %clr(${PID:- }){magenta} %clr([%X{traceId:-},%X{spanId:-}]){yellow} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx
      </pattern>
    </encoder>
  </appender>

  <!-- Console Appender (컬러 포함 간결한 포맷) -->
<!--  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder>-->
<!--      <pattern>-->
<!--        %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}-->
<!--        %clr(%-5level)-->
<!--        %clr([%X{traceId:-},%X{spanId:-}]){yellow}-->
<!--        %clr(%logger{36}){cyan} - %msg%n-->
<!--      </pattern>-->
<!--    </encoder>-->
<!--  </appender>-->

  <!-- Rolling File Appender -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/application.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>


  <!-- 공통 로거 레벨 조정 -->
  <logger name="org.springframework"      level="INFO"/>
  <logger name="com.tomato"               level="DEBUG"/>
  <logger name="org.hibernate.SQL"        level="DEBUG"/>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
  <logger name="jdbc" level="OFF"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.connection" level="OFF"/>

  <!-- log4jdbc SQL 덤프용 -->
  <springProfile name="local,dev,staging">
    <logger name="jdbc.sqlonly"       level="DEBUG"/>
    <logger name="jdbc.sqltiming"     level="DEBUG"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
  </springProfile>
  <springProfile name="prod">
    <!-- 운영에서는 너무 많은 SQL 로그를 WARN 이상으로 낮춥니다 -->
    <logger name="jdbc.sqlonly"       level="WARN"/>
    <logger name="jdbc.sqltiming"     level="WARN"/>
    <logger name="jdbc.resultsettable" level="WARN"/>
  </springProfile>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>