<!-- 메뉴 오버레이 -->
<div class="menu-overlay"></div>

<!-- 사이드 메뉴 -->
<div class="side-menu">
  <div class="side-menu-header">
    <div class="side-menu-logo">
      <img src="/images/logo.svg" alt="로고"/>
      <span>나라 걱정 클럽</span>
    </div>
  </div>
  <div class="side-menu-content">
    <div class="side-menu-item" data-page="home">클럽 홈</div>
    <div class="side-menu-item" data-page="rewards">리워드 정책</div>
    <div class="side-menu-item" data-page="link-x">계정인증(엑스)</div>
    <div class="side-menu-item" data-page="link-dc">계정인증(디시인사이드)</div>
    <div class="side-menu-item" data-page="upload">활동내역 업로드</div>
  </div>
</div>